---
import Nav from "../components/Nav.astro";
import Hero from "../components/HomeSections/Hero.astro";
import Functionalities from "../components/HomeSections/Functionalities/Functionalities.astro";
import Features from "../components/HomeSections/Features/Features.astro";
import Try from "../components/HomeSections/Try.astro";
import Powered from "../components/HomeSections/Powered.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home Page">
	<Nav />
	<main class="">
		<Hero />
		<Functionalities />
		<Features />
		<Try />
		<Powered />
	</main>
	<Footer />
</Layout>

<style>
	main {
		@apply max-w-screen-2xl px-20 flex flex-col items-start py-20 gap-8;
		min-height: 100vh;
		width: inherit;
	}
	@media screen and (max-width: 620px) {
		main {
			@apply px-6 py-8;
		}
	}
</style>
