---
import Nav from "../components/Nav.astro";
import Hero from "../components/HomeSections/Hero.astro";
import Functionalities from "../components/HomeSections/Functionalities.astro";
import Features from "../components/HomeSections/Features.astro";
import Try from "../components/HomeSections/Try.astro";
import Powered from "../components/HomeSections/Powered.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home Page">
	<Nav />
	<main class="flex items-start py-20">
		<Hero />
		<Functionalities />
		<Features />
		<Try />
		<Powered />
	</main>
	<Footer />
</Layout>

<style>
	main {
		@apply px-20;
		min-height: 100vh;
		width: inherit;
	}
</style>
