---
import QRGenrator from "../components/QRGenerator";
import Layout from "../layouts/Layout.astro";
---

<Layout title="QR Genrator">
    <main class="flex items-center justify-center">
        <QRGenrator client:load />
    </main>
</Layout>

<style>
    main {
        min-height: 100vh;
        width: inherit;
    }
</style>
