<nav>
    <div class="nav-container">
        <a href="#hero" class="logo">WaMeQR</a>
        <div class="nav-items">
            <a href="#hero" class="nav-item">home</a>
            <a href="#fetaures" class="nav-item">features</a><a
                href="#try"
                class="nav-item">useage</a
            >
            <a href="/play" class="nav-item try-btn">try it out!</a>
        </div>
    </div>
</nav>

<style>
    nav {
        @apply bg-accent  w-full grid justify-items-center;
    }

    .nav-container {
        @apply max-w-screen-2xl flex items-center justify-between px-20 py-4 w-full;
    }
    .logo {
        @apply text-primary text-2xl cursor-pointer;
    }

    .nav-items {
        @apply flex gap-8;
    }
    .nav-item {
        @apply text-primary uppercase font-medium text-lg;
    }
    .try-btn {
        @apply text-teal-500 font-bold;
    }

    @media screen and (max-width: 620px) {
        .nav-container {
            @apply px-6 py-2;
        }
        .logo {
            @apply text-xl;
        }
        .nav-items {
            @apply gap-4;
        }
        .nav-item {
            @apply text-base;
        }
        .try-btn {
            display: none;
        }
    }
</style>
